D3D12HelloRaytracing/src/.vs/*
D3D12HelloRaytracing/src/D3D12HelloRaytracing/obj/*
D3D12HelloRaytracing/src/D3D12HelloRaytracing/bin/*
JSON/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
